DB_HOST=localhost
DB_PORT=54320
DB_USER=orderhub
DB_PASSWORD=orderhub
DB_NAME=orderhub
JWT_SECRET=change-me-to-a-long-random-string
KAFKA_BROKERS=localhost:9092
INVENTORY_PORT=3001
INVENTORY_DB_HOST=localhost
INVENTORY_DB_PORT=54321
INVENTORY_DB_USER=inventory
INVENTORY_DB_PASSWORD=inventory
INVENTORY_DB_NAME=inventory
